@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "stencilstd";
  src: url("../src/assets/fonts/StencilStd.otf");
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2.5px #e6af0b;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #e6af0b;
  }
}

/* This is the code that gives the links their background images. */
#facebook-link {
  background-image: url("./assets/images/facebook.png");
}
#twitter-link {
  background-image: url("./assets/images/twitter.png");
}
#instagram-link {
  background-image: url("./assets/images/instagram.png");
}
#youtube-link {
  background-image: url("./assets/images/youtube.png");
}
#github-link {
  background-image: url("./assets/images/github.png");
}
